extends layout

block content
  .main-content.container-fluid
    .row.cabecera
      nav.navbar.navbar-light.bg-light.col-12
        a.navbar-brand(href="#") Coronavirus Datos
        a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/MarioMMJ')
          img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Donaciones')
    .mt-4.row.datos-totales.justify-content-center
      .col-md-3.col-10.infectados.card
        .card-body
          .card-title
            h5.card-title.text-center Infectados
          .card-body.text-center
            p 90000
      .col-md-3.col-10.curados.card
        .card-body
          .card-title.text-center
            h5.card-title Curados
          .card-body.text-center
            p 20000
      .col-md-3.col-10.paises.card
        .card-body
          .card-title.text-center
            h5.card-title Paises
          .card-body.text-center
            p 78
    .row.contenido.justify-content-center.mt-3
      .col-10.col-lg-6.noticias.mb-3
        h2.mb-0.ultimas-noticias Últimas Noticias
        small.text-muted Las noticias son actualizadas cada 10 minutos
        
        .row.noticia.mt-3
          .col-12.card
            h3.titulo-noticia Titulo de la Noticia
            p.text-muted Cuerpo de la noticia
            small 27/07/2020
            a.mt-3.leermas(href="#") Leer más
        .row.noticia.mt-3
          .col-12.card
            h3.titulo-noticia Titulo de la Noticia
            p.text-muted Cuerpo de la noticia
            small 27/07/2020
            a.mt-3.leermas(href="#") Leer más
        .row.noticia.mt-3
          .col-12.card
            h3.titulo-noticia Titulo de la Noticia
            p.text-muted Cuerpo de la noticia
            small 27/07/2020
            a.mt-3.leermas(href="#") Leer más
      .col-10.col-lg-4
        .row.tablasDatos
          .col-12.estadisticas
            h2.mb-0 Casos recientes
            small.text-muted Casos que se han detectado el día de hoy
          .col-12.paisesafectados
            h2.mb-0 Paises Afectados
            small.text-muted Estadísticas por paises, la información es recopila de diferentes sitios y contrastada. Actualizado cada 10 minutos.
            table#tablePaises.table.table-hover.table-striped
              thead
                tr
                  th Pais
                  th Casos Totales
                  th Muertes Totales
                  th Casos Activos
                  th Recuperados Totales
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                  td Mark